<%= javascript_include_tag '/javascripts/twitter.js' %>
<div id="wrapper">
  <div id="page">
    <div id="page-bgtop">
        <hr />
        <div id="content">
          <% @messages.each do |sms| %>
            <div class="post">
              <% if !sms.image.nil? then %>
                <div class="entry-image"><img src="<%= sms.image %>" alt="<%= sms.title %>" width="280" height="200" /></div>
              <% end %>
              <h2 class="title"><%= sms.title %></h2>
              <p class="meta"><%= sms.updated_at %> Por <%= sms.name %></p>
              <div class="entry">
                    <p><%= sms.content %></p>
                    <% if !sms.url.nil? then %>
                    <p class="links"><a href="<%= sms.url %>">Ver</a><!--  	&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Comentarios</a>--></p>
                    <% end %>
                </div>
            </div>
          <% end %>
        </div>
        <%=render :partial=>'sidebar'%>
        <div style="clear: both;">&nbsp;</div>
    </div>
  </div>
</div>